@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css";

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html {
  font-family: "Raleway", sans-serif;
  background-color: aliceblue;
}
.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 15px auto;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
  font-family: "Raleway", sans-serif;
}
input {
  font-family: "Raleway", sans-serif;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:hover {
  background-color: #03a9f4 !important;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(even) {
  background: #ccc;
}
tr:nth-child(odd) {
  background: #fff;
}
.labels {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 50%;
  margin: 0 auto;
}
.labels label {
  width: auto;
  margin: 4px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.addUserBtn {
  border-radius: 16px;
  height: 40px;
  width: 115px;
  margin-top: 15px;
  font-family: "Raleway", sans-serif;
}
i {
  position: absolute;
  right: 3%;
  margin-top: 2px;
  color: gray;
}
.header {
  border: 1px solid;
  width: 95%;
  margin: 10px auto;
}
@media screen and (max-width: 730px) {
  .usersContainer {
    font-size: 12px;
  }
}
@media screen and (max-width: 583px) {
  tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .columnTitles {
    display: none;
  }
  td:nth-of-type(1):before {
    content: "username: ";
    font-weight: bold;
  }
  td:nth-of-type(2):before {
    content: "First Name: ";
    font-weight: bold;
  }
  td:nth-of-type(3):before {
    content: "Last Name: ";
    font-weight: bold;
  }
  td:nth-of-type(4):before {
    content: "email: ";
    font-weight: bold;
  }
  td:nth-of-type(5):before {
    content: "age: ";
    font-weight: bold;
  }
  td:nth-of-type(6):before {
    content: "delete: ";
    font-weight: bold;
  }
}
